<% provide(:title_name, 'Депозитный калькулятор' ) %>
<% render_navbar  %>

<article class="main-container-service">
	<section>	
		<div class="header-page-container">
			<strong class="header-page-name">Депозитный калькулятор</strong>	
			<%# current_user.remember_token_digest %>

		</div>
	</section>	


	<section class="container-service">		

		<div class="service-card-div">
			<div class="service-card-desc">				
				<%= content_tag(:p, 'Добро пожаловать на сайт, где вы можете легко и удобно сравнить предложения по вкладам от ведущих банков!' , class: 'service-desc') %>
			</div>
		</div>

		<div class="service-card-name">
			<span>Что предлагает наш сайт?</span>			
		</div>

		<div class="service-card-div">
			<div class="service-card-desc">
				
				<div class="service-desc">
					<p>
						
					Наш сайт создан, чтобы помочь вам сделать правильный выбор при размещении своих сбережений. Мы предлагаем:
					</p>
					<br>
					<p>
						
					- Обзор актуальных предложений по вкладам от популярных банков. Сравните условия и выберите наиболее выгодный вариант.
					</p>
					<br>
					<p>
					- Регистрация для удобства использования всех функций сайта.
					</p>
					<br>
					<p>
					- Калькулятор доходности вклада, который поможет вам рассчитать потенциальный доход от предложенного банком вклада.
					</p>
					<br>
					<p>
					- Депозитный калькулятор для самостоятельного расчета доходности с учетом ваших индивидуальных параметров.
					</p>
					<br>
					<p>
					- Сохранение результатов расчета на сайте для дальнейшего анализа и сравнения.
					</p>
					<br><br>
					<p>
					Начните планировать свои финансы с умом уже сегодня!
					</p>
				</div> 
				
			</div>
		</div>

		
	</section>




</article>